body {
  background: black;
  color: #00ff88;
  font-family: monospace;
  text-align: center;
}

#screen {
  font-size: 16px;
  line-height: 1.1;
  white-space: pre;
  margin: 20px auto;
  width: fit-content;
}
button {
  margin: 5px;
  padding: 8px;
}